.time-tracker {
  font-size: 14px;
}

.time-tracker > * {
  margin: 0 2px;
}

.time-tracker input,
.time-tracker button {
  background-color: transparent;
}

#time-tracker-days {
  width: 5em;
  height: 24px;
}

.reminders-toggle {
  position: relative;
  top: 3px;
  height: 20px;
  width: 20px;
  background-image: url(https://notion-emojis.s3-us-west-2.amazonaws.com/v0/svg-twitter/1f55b.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
}

.reminders-toggle:hover {
  background-color: rgb(71, 76, 80);
  border-radius: 2px;
}

.reminder-popup {
  position: fixed;
  height: 240px;
  width: 350px;
  display: none;
  visibility: hidden;
}

.reminder-popup.show {
  display: block;
  visibility: visible;
}

input.new-reminder {
  width: 320px;
}

button.add-reminder {
  position: absolute;
  right: 0;
}

.reminders td {
  padding: 2px;
}
